@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import './theme.scss';

@font-face {
    font-family: 'WorldCupFont';
    src: url('../resources/fonts/qatar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    --color1: #56042C;
    --color2: #FEC310;
    --color3: #49BCE3;
    --color4: #1077C3;
    font-family: 'Roboto';
}