<h1 id="title">FIFA WORLD CUP 2022 STANDINGS</h1>
<div id="groups-grid">
    <div *ngFor="let group of groups" class ="group-card" (mouseenter)="showMatches(group.name)" (mouseleave)="hideMatches()">
        <h2 class ="group-name">{{group.name}}</h2>
        <div class="teams-container">
            <div *ngFor="let team of group.teams; let i = index" [ngClass]="{'highlighted': i < 2}" class="team-card">
            <img class="team-flag" src="{{ team.flag }}" alt="{{ team.name }} flag" />
            <h3 class ="team-name">{{team.name}}</h3>
            <p class ="team-group-ranking">Group Ranking: {{team.groupRanking}}</p>
            </div>
        </div>
        <div *ngIf="showGroupMatches === true" class="matches-container">
            <div *ngFor="let match of matches" class="match-card">
            <div *ngIf="match.phase === group.name" class="match-card"> 
                <p> SALUT </p>
            </div>
            </div>
        </div>
    </div>
</div>