<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav">
        <p>vali suge pula</p>
        <!-- <button mat-icon-button (click)="sidenav.toggle()">
            <p>inchide sidebar</p>
        </button> -->
        <!-- <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li> -->
      </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <p>fac mult sex</p>
    </mat-sidenav-content>
</mat-sidenav-container>