<!DOCTYPE html>
<html>
<head>
  <title>World Cup 2022</title>
</head>
<body>
  <div class="content">
    <h1>Welcome to World Cup Wrapped</h1>
    <p>Get ready for the biggest soccer event of the year! World Cup 2022 is here and it promises to be an unforgettable experience for all soccer fans around the world.</p>
    <p>On this site, you'll find all the latest news, scores, fixtures, and results from the tournament. You can also join the conversation and share your thoughts on the games and teams with other fans.</p>
    <p>So what are you waiting for? Start exploring and be a part of the World Cup 2022 excitement!</p>
  </div>
  <div class="news">
    <h2>Latest News:</h2>
    <h3>
        A ground-breaking World Cup with a fairy tale ending
        Lionel Messi was the hero of the highest-scoring World Cup in history. Let's take a look back to see how it all unfolded.
    </h3>
  </div>
</body>
</html>